extends ../base

block content 
    img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(type="file", id="avatar", name='avatar', accept="image/*")
        input(value=loggedInUser.name name="name", placeholder="Name", type="text", required)
        input(value=loggedInUser.email name="email", placeholder="Email", type="email", required)
        input(value=loggedInUser.username name="username", placeholder="Username", type="text", required)
        input(value=loggedInUser.location name="location", placeholder="Location", type="text", required)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;